*{
    font-family: 'Open Sans', sans-serif;
}
/* nav bar style*/
.headerTop{
    background: #FFF8F3;
    padding-bottom: 10px;
    background-image: url('./images/header_bg.png');
    background-repeat:no-repeat;
    background-position: top left;
}
    
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    text-decoration: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
}
.titleText{
color: #181818;
font-size: 45px;
font-weight: 800;
font-style: normal; /*optional css*/
line-height: normal; /*optional css*/
}
.orgText{
    color: #FD6E0A;
}
.orgButton{
    border-radius: 5px;
    background: #FD6E0A;
    width: 150px;
    height: 64px;
    border: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: white;
    padding: 15px 35px;
 
}

/*banner part */

.banner{
    background-color: #FFF8F3;;
     
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.greeting{
    padding-left: 100px;

}
.headerText{
    color:  #181818;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: none;
    margin: none;
}
.hi{
    color: #474747;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0px;
    border-bottom: 0px;
    padding-bottom: 0px;
}
.msg{
    width: 585px;
    flex-shrink: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
}
.Profile{
    
    width: 440px;   
    border-radius: 10px;
    margin-right: 10%;
    margin-bottom: 150px;
    margin-top: 50px;
    justify-content: center;
}


/*About part*/
main{
    max-width: 1140px;
    margin: 0% auto; /*for center aline*/
}
.about{
    background: #FFF8F3;
    margin: 130px;


}
.about-tile{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    color: #181818;
    line-height: normal;
    padding-top: 100px;
    

}
.about-msg{
    text-align: center;
    width: auto;
    color:  #757575;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 50px 50px;
    
}
.info-container{
    display: flex;
    justify-content: space-around; /*for spacing the info-container div*/
}
.about-info{
    text-align: center;
}
.whatIdo-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

    
}
.whatIdo-story{
    text-align: center;
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;    
}