*{
    font-family: 'Open Sans', sans-serif;
}
/* nav bar style*/
.headerTop{
    background: #FFF8F3;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
.titleText{
color: #181818;
font-size: 45px;
font-weight: 800;
font-style: normal; /*optional css*/
line-height: normal; /*optional css*/
}
.orgText{
    color: #FD6E0A;
}
.orgButton{
    border-radius: 5px;
    background: #FD6E0A;
    width: 150px;
    height: 64px;
    border: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: white;
    padding: 15px 35px;
}

/*banner part */

.banner{
    background-color: #FFF8F3;;
    padding-left: 100px;
}
.headerText{
    color:  #181818;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.hi{
    color: #474747;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.hi-msg{
    display: flex;
    width: 585px;
    flex-direction: column;
    flex-shrink: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
}